<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1><a href="{{url_for('index')}}">Biblioteca</a></h1>
    <a href="{{url_for('livro')}}">Livros</a>
    <a href="{{url_for('novousuario')}}">Cadastrar usuário</a>
    <a href="{{url_for('abrirlogin')}}">Login</a>
    <a href="{{url_for('usuarios')}}">Usuários</a>
</body>
</html>