<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{url_for('index')}}">Biblioteca</a></h1>
        <a href="{{url_for('livro')}}">Livros</a>
        <a href="{{url_for('novousuario')}}">Cadastrar usuário</a>
        <a href="{{url_for('abrirlogin')}}">Login</a>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </header>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario[0] }}</td>
                <td>{{ usuario[1] }}</td>
                <td>{{ usuario[2] }}</td>
                <td>{{ usuario[3] }}</td>
                <td class="botoes-tabela">
                    <a href="{{url_for('editarusuario',id=usuario[0]) }}" class="botao-salvar"
                        style="padding:6px 12px;">Editar</a>
                    <form action="{{ url_for('deletarusuario', id=usuario[0]) }}" method="post" style="display:inline;">
                        <button type="submit" class="botao-cancelar" style="padding:6px 12px; border:none;">Deletar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>